{% extends 'base.html' %}

{% block content %}
<h1>Notes</h1>

<li>
    <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-md-0">
    <input name="query" class="form-control" type="text" placeholder="Search">
    </form>
</li>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Image</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for note in show_note %}
    <tr>
        <th scope="row">{{ note.id }}</th>
        <td>{{ note.name }}</td>
        <td>{{ note.description }}</td>
        <td>{{ note.category }}</td>
        <td>{% if note.image %}<img src="{{ note.image.url }}" height="40" width="40">{% endif %}</td>
         <td><a href="{% url 'update note' pk=note.id %}">Edit Note</a></a></td>
    </tr>

    {% endfor %}
    </tbody>
</table>
{% endblock %}